In [13]:
# Mengimpor library yang dibutuhkan
import sqlite3  # untuk berinteraksi dengan database SQLite
import pandas as pd  # untuk memanipulasi data dalam bentuk DataFrame

# Menghubungkan ke database SQLite 'STAFF.db'
conn = sqlite3.connect('STAFF.db')

# Menentukan nama tabel dan daftar atribut untuk tabel yang akan dibuat
table_name = 'INSTRUCTOR'  # nama tabel yang akan digunakan
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']  # daftar kolom tabel

# Membaca data CSV dari file dan memberikan nama kolom sesuai dengan atribut yang telah ditentukan
# lokasi file CSV 
file_path = r"C:\Users\William\Machine Learning\2.3 Accessing Databases using Python script\home\project\INSTRUCTOR.csv"
df = pd.read_csv(file_path, names = attribute_list)  # membaca CSV dan menetapkan nama kolom

# Memuat data CSV ke dalam tabel SQLite, jika tabel sudah ada maka tabel akan digantikan
df.to_sql(table_name, conn, if_exists = 'replace', index = False)  # memuat DataFrame ke tabel

# Menampilkan pesan bahwa tabel telah siap
print('Table is ready')

# Query 1: Menampilkan semua baris dari tabel
query_statement = f"SELECT * FROM {table_name}"  # perintah SQL untuk mengambil semua baris
query_output = pd.read_sql(query_statement, conn)  # menjalankan query dan menyimpan hasilnya
print(query_statement)  # menampilkan query yang dijalankan
print(query_output)  # menampilkan hasil query

# Query 2: Menampilkan hanya kolom FNAME dari seluruh tabel
query_statement = f"SELECT FNAME FROM {table_name}"  # perintah SQL untuk mengambil kolom FNAME
query_output = pd.read_sql(query_statement, conn)  # menjalankan query dan menyimpan hasilnya
print(query_statement)  # menampilkan query yang dijalankan
print(query_output)  # menampilkan hasil query

# Query 3: Menampilkan jumlah total baris dalam tabel
query_statement = f"SELECT COUNT(*) FROM {table_name}"  # perintah SQL untuk menghitung jumlah baris
query_output = pd.read_sql(query_statement, conn)  # menjalankan query dan menyimpan hasilnya
print(query_statement)  # menampilkan query yang dijalankan
print(query_output)  # menampilkan hasil query

# Menyiapkan data baru untuk ditambahkan ke tabel
data_dict = {'ID' : [100],  # ID instruktur baru
             'FNAME' : ['John'],  # Nama depan instruktur baru
             'LNAME' : ['Doe'],  # Nama belakang instruktur baru
             'CITY' : ['Paris'],  # Kota instruktur baru
             'CCODE' : ['FR']}  # Kode negara instruktur baru
data_append = pd.DataFrame(data_dict)  # mengubah data menjadi DataFrame

# Menambahkan data baru ke dalam tabel (tidak menggantikan tabel yang ada)
data_append.to_sql(table_name, conn, if_exists = 'append', index = False)  # menambahkan data

# Menampilkan pesan bahwa data telah berhasil ditambahkan
print('Data appended successfully')

# Query 4: Menampilkan jumlah total baris setelah penambahan data
query_statement = f"SELECT COUNT(*) FROM {table_name}"  # perintah SQL untuk menghitung jumlah baris
query_output = pd.read_sql(query_statement, conn)  # menjalankan query dan menyimpan hasilnya
print(query_statement)  # menampilkan query yang dijalankan
print(query_output)  # menampilkan hasil query

# Menutup koneksi ke database setelah semua operasi selesai
conn.close()

Table is ready
SELECT * FROM INSTRUCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN
SELECT FNAME FROM INSTRUCTOR
      FNAME
0       Rav
1      Raul
2      Hima
3      John
4     Alice
5     Steve
6   Santosh
7     Ahmed
8     Nancy
9      Mary
10  Bharath
11   Andrea
12      Ann
13     Amit
SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        14
Data appended successfully
SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        15